﻿@model DONE.Models.tcliente

@{
    ViewBag.Title = "Carga Nomina";

}

@using (Html.BeginForm("Import", "Cliente", FormMethod.Post, new { enctype = "multipart/form-data", @id = "nominaForm" }))
{

    <div class="row">
        <div class="lista row">
            <ul>
                <li class="col-lg-4 col-md-12 col-sm-12"><a class="active">1.Carga de nómina</a></li>
                <li class="col-lg-4 col-md-12 col-sm-12"><a>2.Segmentación de empleados</a></li>
                <li class="col-lg-4 col-md-12 col-sm-12"><a>3.Asignación de salario</a></li>
            </ul>
        </div>


        <div class="row-fluid">
            <div class="col-md-6 col-sm-6 col-xs-6">
                @Html.DropDownList("idcliente", null, htmlAttributes: new { })
                @Html.ValidationMessageFor(model => model.idcliente, "", new { @class = "text-danger" })
            </div>

            <div class="col-md-offset-2 col-md-4 descargar col-sm-6  col-xs-6">
                <a id="download" class="btn btn-primary a-dowload-file " href="#" onclick="downloadFile();return false;">DESCARGAR ARCHIVO DE EJEMPLO</a>
            </div>
        </div>


        <div class="row-fluid">
            <div class="col-md-6 col-sm-6 col-xs-6">
                <input id="excelfile" name="excelfile" type="file" style="display:none" />
                <input id="nombre_archivo" class="input-file-name" readonly type="text" name="name" placeholder="Seleccionar archivo..." />
                <br />
            </div>
            <div class="col-md-2 col-sm-2 col-xs-2">
                <input id="btn_submit" class="btn btn-primary btn-block cargar btn-load-file" type="submit" name="submit" value="CARGAR" />
            </div>
        </div>
        <input id="tipoModal" type="hidden" name="name" value="@ViewData["id"]" />
        <div id="modalMensaje" class="modal fade ">
            <div class="modal-dialog">
                <div class="modal-content  modal-lg">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 id="titulo_modal" class="modal-title">@ViewData["titulo"]</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <p id="mensaje_error">@ViewData["mensaje"]</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-primary aceptar_modal" data-dismiss="modal">ACEPTAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input id="tipoModal" type="hidden" name="name" value="@ViewData["id"]" />
        <div id="modalSeguir" class="modal fade ">
            <div class="modal-dialog">
                <div class="modal-content  modal-lg">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 id="titulo_modal" class="modal-title">@ViewData["titulo"]</h4>
                    </div>
                    <div class="modal-body">

                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-xs-12">
                                <p id="mensaje_error">@ViewData["mensaje"]</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                                <button type="button" class="btn btn-primary aceptar_modal" onclick="PasarListaEmpleados(); return false">ACEPTAR</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>

}

@section Scripts {


    <script type="text/javascript">

        $(function () {
            var archivo = null;
            var files = null;

            $("#nombre_archivo").click(function () {
                $("#excelfile").click();
            });

            var tipo = $("#tipoModal").val();
            if( tipo == 1 ){
                $("#modalMensaje").modal('show');
            }
            else if( tipo == 2 ){
                $("#modalSeguir").modal('show');
            }

            $("#excelfile").change(function (e) {
                archivo = e.target.files[0].name;

                $.ajax({
                    type: "POST",
                    url: "/gvalor/Cliente/ValidarExtension",
                    data: {
                        nombre: archivo
                    },
                    dataType: "json",
                    success: function (data) {

                        if (data.bandera == false)
                        {
                            $("#titulo_modal").text("¡Carga de nómina no completada!");
                            $("#modalMensaje").modal('show');
                            $("#mensaje_error").text("Compruebe que el archivo que intenta cargar tiene la estructura correcta.");

                        } else {
                            $("#nombre_archivo").val(archivo);
                            files = e.target.files[0];
                        }

                    },
                    failure: function (response) { },
                    error: function (error) { }
                });

            });


        });
        function downloadFile() {
            window.location = "@Url.Action("Download", "Cliente")";
        }
        function PasarListaEmpleados() {
            window.location = "@Url.Action("Lista_Empleados", "Cliente")";
        }


    </script>

}

