﻿<link href="~/Content/css/select2.css" rel="stylesheet" />


<input id="tipoModal" type="hidden" name="name" value="" />
<div id="modalMensaje" class="modal fade ">
    <div class="modal-dialog">
        <div class="modal-content  modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="titulo_modal" class="modal-title">MODIFICAR % DE SA</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <select name="origen[]" id="origen" class="js-example-basic-multiple form-control select2" multiple="multiple"></select>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div id="nuevo_sa" class="form-horizontal">
                            <div class="control-group form-inline">
                                <label for="editar_sa" class="sa_editar control-label col-xs-5">Nuevo % de SA</label>
                                <div class="controls col-xs-6">
                                    <input class="form-control" id="editar_sa" type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row col-md-6 col-sm-12 col-xs-12">
                        <button type="button" class="btn btn-primary aceptar" data-dismiss="modal">ACEPTAR</button>
                        <button type="button" class="btn btn-primary cancelar" data-dismiss="modal">CANCELAR</button>
                    </div>
                    
                </div>
            </div>
          
        </div>
    </div>
</div>








@section Scripts{
    @Scripts.Render("~/Scripts/select2.js")
    <script type="text/javascript">

      
        $(document).ready(function () {

            $(".js-example-basic-multiple").select2({
                placeholder: "Seleccionar Empleado",
                allowClear: true,
            });
            $("#modalMensaje").modal('show');
            $.ajax({
                type: "POST",
                url: "llenar",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    listado = msg;

                    $(msg).each(function () {
                        var option = $(document.createElement('option'));

                        option.text(this.Nombre);
                        option.val(this.Codigo);

                        $("#origen").append(option);
                    });
                },
                error: function (msg) {
                    $("#dvAlerta > span").text("Error al llenar el combo");
                }
            });

        });

        $(".js-example-basic-multiple").select2();
    </script>
}