﻿@model DONE.Models.templeado
@{

}

<link href="~/Content/css/select2.css" rel="stylesheet" />

<div class="row">
    <div class="lista row">
        <ul>
            <li class="col-lg-4 col-md-12 col-sm-12"><a>1.Carga de nómina</a></li>
            <li class="col-lg-4 col-md-12 col-sm-12"><a>2.Segmentación de empleados</a></li>
            <li class="col-lg-4 col-md-12 col-sm-12"><a class="active">3.Asignación de salario</a></li>
        </ul>
    </div>


    <div class="row">
        <div class="col-lg-8 col-md-8 hidden-sm hidden-xs"></div>
        <div class="col-lg-2 col-md-2 col-sm-12 col-xs-12">
            <button class="btn btn-primary btn-block" id="editar">MODIFICAR % DE SA</button>
        </div>
    </div>


    
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <table class="table-listaEmpleados">
                    <thead>
                        <tr class="tr-listaEmpleados">
                            <th class="th-listaEmpleados">NOMBRE</th>
                            <th class="th-listaEmpleados">SUELDO SA</th>
                            <th class="th-listaEmpleados">SUELDO ASIMILADO</th>
                            <th class="th-listaEmpleados">SUELDO SINDICATO</th>
                            <th class="th-listaEmpleados">% SA</th>

                        </tr>
                    </thead>
                    <tbody id="myTable">
                        @for (int i = 0; i < ViewBag.lista_empleados.Count; i++)
                        {
                            <tr class="tr-listaEmpleados">
                                <td style="text-align:left" class="td-listaEmpleados">
                                    <p>@ViewBag.lista_empleados[i].nombre</p>
                                </td>

                                <td style="text-align:left">
                                    @if (@ViewBag.lista_empleados[i].sueldo_sa != null|| @ViewBag.lista_empleados[i].sueldo_sa != 0)
                                    {
                                        <p>@ViewBag.lista_empleados[i].sueldo_sa</p>

                                    }
                                    else
                                    {
                                        <p>-</p>
                                    }

                                </td>
                                <td style="text-align:left" class="td-listaEmpleados">

                                    @if (@ViewBag.lista_empleados[i].sueldo_sindicato != null|| @ViewBag.lista_empleados[i].sueldo_sindicato != 0)
                                    {
                                        <p>@ViewBag.lista_empleados[i].sueldo_sindicato</p>

                                    }
                                    else
                                    {
                                        <p>-</p>
                                    }

                                </td>
                                <td style="text-align:left" class="td-listaEmpleados">
                                    @if (@ViewBag.lista_empleados[i].sueldo_asimilado != null|| @ViewBag.lista_empleados[i].sueldo_sindicato != 0)
                                    {
                                        <p>@ViewBag.lista_empleados[i].sueldo_asimilado</p>

                                    }
                                    else
                                    {
                                        <p>-</p>
                                    }

                                </td>
                                <td style="text-align:left" class="td-listaEmpleados">
                                     <p>@ViewBag.lista_empleados[i].porc_sa</p>
                                </td>

                        </tr>
                    }
                    </tbody>

                </table>
            </div>
            <div class="paginarListado col-md-12 text-center">
                <ul class="pagination pagination-lg pager" id="myPager"></ul>
            </div>
        </div>
    </div>

</div>



<input id="tipoModal" type="hidden" name="name" value="" />
<div id="modalMensaje" class="modal fade " data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content  modal-lg">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="titulo_modal" class="modal-title">MODIFICAR % DE SA</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <select name="origen[]" id="origen" class="js-example-basic-multiple form-control select2" multiple="multiple"></select>
                </div>
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div id="nuevo_sa" class="form-horizontal">
                            <div class="control-group form-inline">
                                <label for="editar_sa" class="sa_editar control-label col-xs-5">Nuevo % de SA</label>
                                <div class="controls col-xs-6">
                                    <input required="required"   step="0.01" class="form-control" id="editar_sa" type="number" aria-describedby="basic-addon1">
                                   
                                </div>
                            </div>
                        </div>
                    </div>      
                </div>
                <div class="row">
                    <div class="row col-md-3 col-md-offset-3 col-sm-12 col-xs-12">
                        <input type="button" id="aceptarModal" class="btn btn-primary aceptar" value="ACEPTAR" disabled data-dismiss="modal" />
                    </div>
                    <div class="row col-md-3 col-sm-12 col-xs-12">
                        <button type="button" id="cancelarModal" class="btn btn-primary cancelar" data-dismiss="modal">CANCELAR</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>




@section Scripts {
@Scripts.Render("~/Scripts/select2.js")
    <script type="text/javascript">
        var listado = [];
        var listado_Seleccionados = [];
        var sueldoEditado;


        $(document).ready(function () {
            $(".js-example-basic-multiple").select2({
                placeholder: "Seleccionar Empleado",
                allowClear: true,
            });

            $("#editar").click(function () {
               
                $("#modalMensaje").modal('show');
            });

            $('#myTable').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 50 });

            $("#origen").change(function () {
                if ($("#editar_sa").val().length > 0 && $('#origen option:selected').length>0) {
                    $('#aceptarModal').attr('disabled',false);
                }
                else
                {
                    $('#aceptarModal').attr('disabled', true);
                }
            });

            $("#editar_sa").keyup(function () {
                if ($("#editar_sa").val() > 0 && $('#origen option:selected').length > 0 && $("#editar_sa").val() < 100 ) {
                    $('#aceptarModal').attr('disabled', false);
                }
                else {
                    $('#aceptarModal').attr('disabled', true);
                }
            });

            $(function () {
            $("#aceptarModal").click(function () {
                sueldoEditado = $("#editar_sa").val().replace(/\./g, ',');
             

                $.each($('#origen option:selected'), function (index, item) {

                    console.log("id",item.value);
                    listado_Seleccionados.push({
                        "codigo": item.value,
                        "nombre": item.text
                    });
                   
                  
                });

               
                if (listado_Seleccionados.length <= 0 || sueldoEditado.length<=0) {
                    
                } else {
                 
                        $.ajax({
                            url: "/gvalor/Cliente/EditarPorcentaje",
                        type: "POST",
                        data: JSON.stringify({
                            ListJson: listado_Seleccionados,
                            NuevoPorcentaje: sueldoEditado
                        }),
                        contentType: "application/json",
                        dataType: "json",
                        success: function (result) {
                            $("#origen").find('option:selected').remove().end();
                            $("#editar_sa").val("");
                            location.reload();
                           
                        }
                        });

                        
                }

            });

           });

            $.ajax({
                type: "POST",
                url: "/gvalor/Cliente/llenarListadoEmpleados",
                data: "{}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    listado = msg;

                    $(msg).each(function () {
                        var option = $(document.createElement('option'));
                        option.text(this.Nombre);
                        option.val(this.Codigo);
                        $("#origen").append(option);
                    });
                },
                error: function (msg) {
                    $("#dvAlerta > span").text("Error al llenar el combo");
                }
            });


        });

        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 10,
                    showPrevNext: false,
                    numbersPerPage: 10,
                    hidePageNumbers: false,
                    showFirstLast: true
                },
                settings = $.extend(defaults, opts);

            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.length;
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="prev_link"></a></li>').appendTo(pager);
            }

            var curr = 0;
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }

            if (settings.showPrevNext) {
                $('<li><a href="#" class="next_link"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.prev_link').hide();
            if (numPages <= 1) {
                pager.find('.next_link').hide();
            }
            pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .prev_link').click(function () {
                previous();
                return false;
            });
            pager.find('li .next_link').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.prev_link').show();
                }
                else {
                    pager.find('.prev_link').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.next_link').show();
                }
                else {
                    pager.find('.next_link').hide();
                }

                pager.data("curr", page);
                pager.children().removeClass("active");
                pager.children().eq(page + 1).addClass("active");

            }
        };

      


    </script>
}