﻿<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - DONE</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li><span class="man"></span>@Html.ActionLink("Nuevo Cliente", "Carganomina", "Cliente")</li>
                    <li><span class="list"></span>@Html.ActionLink("Listado de Clientes", "ListarClientes", "ListadoCliente")</li>
                    <li><span class="dollar-symbol"></span>@Html.ActionLink("Facturas", "ListadoFacturas", "Facturas")</li>
                    <li>@Html.ActionLink("Notificaciones", "Contact", "Home")</li>
                </ul>
                <div class="logo"></div>
            </div>

        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
