﻿::-webkit-scrollbar {
    width: 8px;
}

#marcoVistaPrevia{
    border: 0px;
    width: 400px;
    height: 330px;
}

#vistaPrevia{
   max-width: 50%;
    max-height: 60%;
    position: absolute;
    left: 50%;
    top: 25%;
    margin: -12% 0 0 -25%;          
}


::-webkit-scrollbar:horizontal {
    height: 10px;
}

::-webkit-scrollbar-track {
    background-color: #aaa;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(87, 88, 89);
    border-radius: 10px;
    border: 1px solid #aaa;
}

::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    border: 1px solid #aaa;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-top: 50px;
    min-width:600px;
    max-width:2000px;
   
  
}
input#editar_sa:active{

    border: 0px;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Calibri, Arial !important;
    font-size: 16px;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,
select,
textarea {
    max-width: 400px;
}*/

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}


/*input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}*/
input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

input[type="button"].btn-block {
    width: 40%;
    height: 10px;
    margin: 5px;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.navbar-inverse {
    background-color: #ffffff;
    border-color: #ffffff;
}

div.navbar {
    margin: 0;
    padding: 0 -5px !important;
    border-bottom: #972137 2px solid;
}

.navbar-collapse {
    float: right !important;
    right: 0px;
    margin-top: 25px;
}

.navbar-inverse .navbar-nav  li  a {
    color: #972137;
    text-decoration: underline; 
    color: #972137;
    font-weight : bold !important;
}


.navbar-inverse .navbar-nav  li a:hover { 
    text-decoration: underline; 
    color: #972137;
    font-weight : bold !important;
}


.navbar-inverse .navbar-nav  li a:active { 
    text-decoration: underline; 
    color: #972137;
    font-weight : bold !important;
}

.navbar-inverse .navbar-nav  li a:visited { 
    text-decoration: underline; 
    color: #972137;
    font-weight : bold !important;
}

.logo{
      /* position: absolute; */
    background-image: url(Imagenes/logo.jpg);
    z-index: 2000;
    width: 100px;
    height: 50px;
    /* right: 0px; */
    float: right;
    margin-right: -70px;
    margin-left: 20px;
    background-repeat: no-repeat
}
.navbar-inverse .container{
    height: 80px;
}

.man{
    float: left !important;
    background-image: url(Imagenes/man.png);
    z-index: 50;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
    margin-right: -10px;
    background-repeat: no-repeat;
}
.list{
    float: left !important;
    background-image: url(Imagenes/list.png);
    z-index: 50;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
    margin-right: -10px;
    background-repeat: no-repeat;
}
.dollar-symbol{
    float: left !important;
    background-image: url(Imagenes/dollar-symbol.png);
    z-index: 50;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
    margin-right: -10px;
    background-repeat: no-repeat;
}
.contenido{
    /*background-color: #b6ff00;*/
    /*width: 1330px;*/
    height: 500px;
    padding-top: 60px;
    margin-left: -105px;
}

.lista {
	text-align: center;
     margin-left: -72px;
}

.lista ul {
	list-style: none;
	display: inline-table;
    width: 100%;
}
.lista ul li {
	/*display: inline;
    width: 33% !important;*/
}

.lista ul li a {
	display: block;
	float: left;
	height: 40px;
	background: #D9D9D9;
	text-align: center;
	padding: 10px 40px 0 80px;
	position: relative;
	margin: 0 40px 0 0; 
    width: 95%;
    margin: 5px;
			
	font-size: 16px;
	text-decoration: none;
	color: #000;
}
.lista ul li a:after {
	content: "";  
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid #D9D9D9;
	position: absolute; 
    right: -30px; 
    top: 0;
	z-index: 1;
}
		
.lista ul li a:before {
	content: "";  
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 30px solid #ffffff;
	position: absolute; 
    left: 0; 
    top: 0;
}
.lista ul li:first-child a {
	border-top-left-radius: 0; 
    border-bottom-left-radius: 0;
    /*margin-left: -72px;*/
}
.lista ul li:first-child a:before {
	display: none; 
}


.lista ul li a.active {
	background: #972137;
    color: #fff;
}
.lista ul li a.active:after {
	border-left-color: #972137;
}

.btn {
  border: 1px solid #44546A;
  border-radius: 3px;
  color: #555;
  display: inline-block;
  font: bold 12px/12px calibri, Arial;
  padding: 8px 11px;
  text-decoration: none;
  font-size:15px;
  margin:20px;
  padding:17px 0;
  text-align:center;
  -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
   box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
}
.btn:hover{
    text-decoration:none;
    background-color:#44546A !important;
    border-color: #44546A !important;
}
.btn-primary {
    background:#44546A;
    color:#fff;
    background-color:#44546A !important;
    border-color: #44546A !important;
}

.btn-primary:hover {
  background:#44546A;
  color:#fff;
}

.btn-primary:visited {
    outline: none !important;
    background:#44546A;
    color:#fff;
}
.btn-primary:focus{
  outline: none !important;
  background:#44546A;
  color:#fff;
}

.btn-primary:active{
    outline: none;
    background:#44546A;
    color:#fff;
}

.btn-green {
    background:#71b346;
    color:#fff;
    border-color: #71b346;
}

.btn-green:hover {
    background:#71b346;
    color:#fff;
}

.btn-green:visited {
    outline: none !important;
    background:#71b346;
    color:#fff;
}
.btn-green:focus{
    outline: none !important;
    background:#71b346;
    color:#fff;
}

.btn-green:active{
    outline: none;
    background:#71b346;
    color:#fff;
}

/*select option {
    margin: 2px 6px !important;
    padding: 5px !important;
    border: 1px solid #9C9C9C; 
}*/


.dropcliente{
    margin: 0px auto !important;
    margin-top: 50px !important;
    height: 45px;
}

.descargar{
    position: relative;
   right: 8%;
    top: 18px;
}

.aceptar{
    width: 107px;
    height: 10px;
    display: block;
    position: relative;
    padding-bottom: 24px;
    margin-left: 30%;
}

button#AceptarInfoRecibo
{
    width: 107px;
    height: 10px;
    display: block;
    position: relative;
    padding-bottom: 24px;
    margin-left: 30%;
}

#cargar{
    width: 150px;
    height: 40px;
    padding: 4px;
   
}

@media  (min-width: 768px) {
  .modal-dialog {
    right: auto !important;
    width: 80% !important;
    left: 10% !important;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
             width: 80% !important;
    left: 10% !important;
  }
}

.modal.in .modal-dialog{
    margin-top: 80px;
     width: 80% !important;
    left: 10% !important;
}
a#download{
    height: 37px;
    padding: 10px;
    margin-top:57px;
}
.modal-title{
    font-size: 2em;
    margin: 20px auto;
    font-weight: bold;
    text-align: center;
}

#formInfoRecibo input{
    border: 0px;
    border-bottom: 1px solid gray;
    border-radius:0px;
    box-shadow: none;
}
input#nombre_archivo{
    margin-top: 120px;
    position: relative;
    /* float: right; */
    height: 40px;
    width: 75%;
    background-image: url(Imagenes/icon_file.png);
    background-repeat: no-repeat;
    background-position: 5% 12px !important;
    text-indent: 20px;
    padding: 12px 10%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    cursor:pointer; 
}

input#Imagen_factura{
    padding: 7px 10%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    outline: none;
    width: 100%;
    cursor:pointer; 
   
}

.cargar{
    margin-top: 120px;
    height: 40px !important;
    padding: 5px;
    border-radius: 0px;
}

select#idcliente{
    width: 80%;
    height: 40px;
    margin-top: 73px !important;
    right: 30%;
}
 
div#modalMensaje.modal.fade .modal-dialog .modal-content .modal-header .close {
    position: absolute;
    top: -30px;
    right: -30px;
    color: #972137;
    opacity: 20.5;
}
.modal-header{
    padding: 8px;
    border-bottom: 2px solid #972137;
}

.clear {
   clear: both;
   text-align: center;
}

.btn.izq, .btn.izq:hover, .btn.izq:active, .btn.izq:visited {
    margin: 5px auto;
    border: 1px solid #44546A;
    padding: 5px;
    width: 40px !important;
    height: 40px !important;
    position: relative;
    left: -15px !important;
    background-color: #44546A;
}
.btn.der, .btn.der:hover, .btn.der:active, .btn.der:visited {
    margin: 5px auto;
    border: 1px solid #44546A;
    padding: 5px;
    width: 40px !important;
    height: 40px !important;
    position: relative;
    background-color: #44546A;
    left: -15px !important;
}

label.checkbox-inline{
    font-weight:bold;
}

select option:checked,select option:hover {
    box-shadow: 0 0 10px 100px #44546A inset;
    color: white; 
}

select#origen{
    width: 100%;
    height: 240px;
    
    border: none;
    outline: none;
}

select#destino{
    width: 100%;
    height: 240px;
    
    border: none;
    outline: none;
}

.listas_origen{
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid #9C9C9C;
}

.listas_destino{
    position: relative;
    display: block;
    right: -40px;
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border: 1px solid #9C9C9C;
}

.checkItem{
    margin-top: 1% !important;
    margin-bottom: 0%;
}

.titulo{
    margin-top: 14px;
}


.DropEmpresa{
    margin-top: 15px;
    margin-bottom: 10px;
    
}

.select2.select2-container.select2-container--default.select2-container--focus.select2-container--below.select2-container--open {
    width:100%;

}

select.lista_empresa{
    width: 100%;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #9C9C9C;
    outline: none;
    margin-left: 100px;
}

input.busqueda{
    width: 102%;
    height: 35px;
   margin-top: 3px;
    border: none;
    border-bottom: 1px solid #9C9C9C;
    background-image: url(Imagenes/search.png);
    background-repeat: no-repeat;
    background-position: 295px 10px; 
    text-indent: 20px;
    outline: none;
}


input.fieldname
{
    float:left;
    clear:left;
    display:block;
    margin:5px;
    border: 0;
    border-radius: 13px;
    font-weight: bold;
    font-size: small !important;

}

input.nombre_sindicato{
    float:left;
    clear:left;
    display:block;
    margin:5px;
    border: 0;
    border-radius: 13px;
    font-weight: bold;
    font-size: small;
}

input.nombre_asimilado{
    float:left;
    clear:left;
    display:block;
    font-size: small;
    margin:5px;
    border: 0;
    border-radius: 13px;
    font-weight: bold;
}
.carga_sueldo{
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 20px 20px 24px 24px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid #d6d3ce;
    padding: 17px;
}

#subirData{
    width: 150px;
    height: 20px;
    padding-bottom: 24px;
    margin-left: -262px
}

#editar{
    width: 90%;
    height: 20px;
    padding-bottom: 24px;
    color: black !important;
    font-weight: bold;
    background-color:transparent !important;
}

table.tabla{
    border-collapse: collapse;
    width: 100%;
}

table.tabla th, table.tabla td {
    text-align: left;
    padding: 5px;
}

.tabla tr:nth-child(even){background-color: #f2f2f2}

.tabla th {
    background-color: #972137;
    color: white;
    border-left: white;
}

table.table-listaEmpleados{
    border-collapse: collapse;
    width: 100%;
}

th.th-listaEmpleados, td.td-listaEmpleados {
    text-align: left;
    padding: 5px;
}

tr.tr-listaEmpleados:nth-child(even)
{
    background-color: #f2f2f2
}

th.th-listaEmpleados {
    background-color: #972137;
    color: #fff;
}

table.table-ListaClientes{
    border-collapse: collapse;
    width: 100%;
}

tr.tr-ListaClientes{
    border-bottom:1px solid #D9D9D9;
}
th.th-ListaClientes, td.td-ListaClientes{
    text-align: left;
    padding: 5px 5px 0 5px;
}

th.nombreCliente{
    width: 100px;
}

th.th-ListaClientes {
    background-color: #972137 !important;
    color: #fff;
}



table.table-ListadoFacturas{
    border-collapse: collapse;
    width: 100%;
    
}

tr.tr-ListadoFacturas{
    border-bottom: 1px solid #D9D9D9 !important;
}
th.th-ListadoFacturas, td.td-ListadoFacturas{
    text-align: left;
    padding: 5px 5px 0 5px;
    /*border: 1px solid #44546A;*/
}


th.th-ListadoFacturas{
    background-color: #972137 !important;
    color: #fff;
    border: 1px solid #ffffff;
}

th.th-ListadoFacturas, th.th-ListadoFacturasCheck, td.td-ListadoFacturas , td.td-ListadoFacturasCheck,td.td-ListadoFacturasAcciones, th.th-ListadoFacturasAcciones{
    text-align: left;
    padding: 5px 5px 0 5px;
    /*border: 1px solid #ffffff;*/
}


th.th-ListadoFacturas, th.th-ListadoFacturasCheck,th.th-ListadoFacturasAcciones{
    background-color: #972137 !important;
    color: #fff;
    /*border: 1px solid #ffffff;*/
}

td.td-ListadoFacturasCheck, th.th-ListadoFacturasCheck,td.td-ListadoFacturasAcciones, th.th-ListadoFacturasAcciones {
    /*border: 1px solid #fff !important;*/
    height: 9vh !important;
    max-width: 71.5vw !important;
    min-width: 6.5vw !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    text-align: center;
    vertical-align: middle;
}
td.td-ListadoFacturas-numero,td.td-ListadoFacturas-cliente,td.td-ListadoFacturas-status{
    text-align:left;
    /*border: 1px solid #fff !important;*/

}


td.td-ListadoFacturas,td.td-ListadoFacturas-numero,td.td-ListadoFacturas-cliente, td.td-ListadoFacturas-status, th.th-ListadoFacturas {
    /*border: 1px solid #fff !important;*/
    height: 9vh !important;
    max-width: 71.5vw !important;
    min-width: 13.5vw !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    text-align: center;
    vertical-align: middle;
}

table.table-listaEmpleadpCliente{
    border-collapse: collapse;
    width: 100%;
    
}
tr.tr-listaEmpleadpCliente{
    border-bottom:1px solid #D9D9D9;
}
th.th-listaEmpleadpCliente, th.th-listaEmpleadpClienteAcciones, td.td-listaEmpleadpCliente , td.td-listaEmpleadpClienteAcciones{
    text-align: left;
    padding: 5px 5px 0 5px;
    border: 1px solid #ffffff;
}


th.th-listaEmpleadpCliente, th.th-listaEmpleadpClienteAcciones, th.th-listaEmpleadpClienteVarias, td.td-listaEmpleadpClienteVarias {
    background-color: #972137 !important;
    color: #fff;
    border: 1px solid #ffffff;
}

td.td-listaEmpleadpClienteAcciones, th.th-listaEmpleadpClienteAcciones {
    border: 1px solid #fff !important;
    height: 9vh !important;
    max-width: 71.5vw !important;
    min-width: 6.5vw !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    text-align: center;
    vertical-align: middle;
}

td.td-listaEmpleadpCliente, th.th-listaEmpleadpCliente {
    border: 1px solid #fff !important;
    height: 9vh !important;
    max-width: 71.5vw !important;
    min-width: 10.5vw !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    text-align: center;
    vertical-align: middle;
}

td.td-listaEmpleadpClienteNombre{
    text-align:left;
    border: 1px solid #fff !important;

}

td.td-listaEmpleadpClienteVarias, th.th-listaEmpleadpClienteVarias {
    border: 1px solid #fff !important;
    height: 9vh !important;
    max-width: 71.5vw !important;
    min-width: 19.5vw !important;
    word-wrap: break-word !important;
    font-size: 15px !important;
    text-align: center;
    vertical-align: middle;
}
/*
.qsf-wrapper .rlvTable a {
    color: #fff;
}
 
.qsf-wrapper .rlvTable tfoot {
    font-size: 16px;
}

.lvItem,.lvAltItem {
    font: 14px/1 segoe ui;
    line-height: 25px;
    color: #fff;
}
.lvItem > td, .lvAltItem > td, .lvAltItem > th {
        padding-left: 7px;
}

.lvItem {
    background: #fff;
    color: #fff;
}*/

.qsf-wrapper .rlvTable a {
    color: #767676;
}
 
.qsf-wrapper .rlvTable tfoot {
    font-size: 16px;
}
 
.lvItem,
.lvAltItem {
    font: 14px/1 segoe ui;
    line-height: 25px;
}
 
.lvItem > td,
.lvAltItem > td,
.lvAltItem > th {
    padding-left: 7px;
}
 
.lvItem {
    background: #fff;
}
 
label#lblnombre,label#lblsueldo_sa, label#lblsueldo_asimilado, label#lblsueldo_sindicato {
    font-weight:normal !important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    z-index: 2;
    color: #ffffff;
    background-color:#BC7482;
    cursor: default;
    border-color:#BC7482;
}

.pager li > a, .pager li > span {
    display: inline-block;
    padding: 5px 14px;
    border-radius: 8px;
    color: black;
    border: none;
    font-weight:bold;
  
}

a.prev_link{
    background-image: url(Imagenes/backPagina.png);
    background-repeat: no-repeat;
    width: 10px !important;
    height: 10px;
    background-size: contain;
    margin-top: 12px;
}

a.next_link{
    background-image: url(Imagenes/backPagina.png);
    background-repeat: no-repeat;
    width: 10px !important;
    height: 10px;
    background-size: contain;
    margin-top: 12px;
    -webkit-transform: rotate(180deg);     
  -moz-transform: rotate(180deg);        
  -o-transform: rotate(180deg);          
  -ms-transform: rotate(180deg);         
  transform: rotate(180deg);
}

.select2-container {
    width:100% !important;
}

.select2-search__field{

    background-image: url(Imagenes/search.png) !important;
    background-repeat: no-repeat !important;
    background-position: 0px 3px !important;
    width:400px !important;
    padding-left:20px !important;
}

input#editar_sa{
    border: 0px;
    border-bottom: 1px solid gray;
    border-radius:0px;
    box-shadow: none;
    margin-top: 5%;
}

#nuevo_sa{
        margin-top: 25px;
}

label.sa_editar{
    margin-top: 12px !important;
}

button.aceptar_modal{
    margin: 0px 40%;
    width: 107px;
    height: 10px;
    display: block;
    position: relative;
    padding-bottom: 24px;
    margin-left: 27%;
}

input#editar_sa:active, input#editar_sa:focus{
    box-shadow: none;
        border-bottom: 1px solid gray;
}
.cancelar{
    width: 107px;
    height: 10px;
    display: block;
    position: relative;
    padding-bottom: 24px;
    background-color: rgba(131, 33, 33, 1);
    border: 0px;
    margin-left: 35%;
    
}

.cancelar:hover{
    background-color:#a82d44 !important;
}
div.imagenListadoClientes{
height: 80px;
    width: 80px;
    margin-top: 2px;
    margin-bottom: 0px;
    background-image: url(Imagenes/user.png);
    background-repeat: no-repeat;
}

div.subTituloListadoClientes{
    color: #808080; 
}

a.btn-view{
    text-decoration: none;
    font-size:20px;
    font-family:calibri, Arial;
    font-weight:bold;
    text-align:center;
    display: inline-block;
    color: #ffffff;
    background-color:#57a943;
    width: 100px;
    height: 35px;
    margin-top: 20px;
        margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
   -moz-border-radius: 10px 10px 10px 10px;
   -webkit-border-radius: 5px 5px 5px 5px;
   -webkit-box-shadow: 0px 4px 10px 0px rgba(112, 109, 134, 0.65);
  -moz-box-shadow: 0px 4px 10px 0px rgba(112, 109, 134, 0.65);
   box-shadow: 0px 4px 10px 0px rgba(112, 109, 134, 0.65);
}

a.btn-view:hover{
    background-color:#64bb4f !important;
}
a.btn-view:active{
    background-color:#64bb4f !important;
}

#verListadoCliente{
  background:#57a943;
  color:#fff;
}

#verListadoCliente:hover {
  background:#57a943;
  color:#fff;
}

#verListadoCliente:visited {
    outline: none !important;
  background:#57a943;
  color:#fff;
}
#verListadoCliente:focus{
  outline: none !important;
  background:#57a943;
  color:#fff;
}

#verListadoCliente:active{
  outline: none;
   background:#57a943;
  color:#fff;
}

dt.detalleNombre{
    text-align:left;
    margin-bottom: 10px;
}

.DetalleEmpleadoLink{
     float: left !important;
    background-image: url(Imagenes/detalle.png);
    z-index: 50;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
    margin-right: -10px;
    background-repeat: no-repeat;

}
.EditarEmpleadoLink{
    float: right !important;
    background-image: url(Imagenes/edit.png);
    z-index: 50;
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 15px;
    margin-right: 12px;
    background-repeat: no-repeat;
}

input#buscarEmpleado_search, input#status_search, input#cliente_search, input#factura_search{
    background-image: url(Imagenes/search.png);
    width: 100%;
    height: 40px;
    margin-top: 15px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    background-repeat: no-repeat;
    background-position: 90% 10px; 
    margin-bottom: 20px;
    border:0px;
      

}
 input#kwd_search_search, input.buscarCliente{
      background-image: url(Imagenes/search.png)!important;
    width: 35%  !important;
    height: 40px !important;
    margin-top: 15px !important;
    border-radius: 5px 5px 5px 5px !important;
    -moz-border-radius: 5px 5px 5px 5px !important;
    -webkit-border-radius: 5px 5px 5px 5px !important;
    background-repeat: no-repeat !important;
    background-position: 90% 10px !important; 
    margin-bottom: 20px !important;
    border:0px !important;
         text-indent: 20px !important;
    padding: 12px 20px !important;
    box-sizing: border-box !important;
    border: 1px solid #ccc !important;
    outline: none;
 }


.RegresarListadoCliente{
    color: #7f8e9a;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    padding-left: 16px;
}

.imagenRegresar{
    background-image: url(Imagenes/back.png);
    background-repeat: no-repeat;
    background-position: 0px 2px !important;
}
.colorLinea{
    border-bottom: 3px solid #972137;
        margin-top: 20px;
    margin-bottom: 30px;
  
}
.formEditar input
{
    width: 60%;
    height: 33px;
    border-left: 0px;
    border-right: 0px;
    border-top: 0px;
     outline: none;

   
}
.formEditar select
{
    width: 60%;
    height: 35px;
    border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    border: 1px solid rgba(170, 170, 170, 0.44);
    outline: none;
}

.formEditar label{
    text-align:left !important;
    font-size: 15px !important;
    font-weight: bold !important;
}

input#guardarEditar{
    width: 145px;
    height: 43px;
}

input.asociar_recibo{
    width: 75%;
    height: 40px;
    margin-top: 15px;
    font-size: 18px;
    padding: 10px
}
input.asociar_recibo:disabled{
    background-color:red;
}

.modalrecibo{
    padding: 8px;
    background-color:#972137 !important;
    color: #fff !important;
}

button.close{
    position: absolute;
    z-index: 10 !important;
    top: -30px;
    right: -40px;
    width: 30px;
    height: 30px;
    background-image: url(Imagenes/close.png);
    background-repeat: no-repeat;
}

#CargarImagenRecibo, #CargarInfoRecibo{
    width: 90%;
    height: 35px;
    color: #44546A;
    padding: 10px;
    background-color:transparent !important;
    border: 1px solid #44546A;
}

#CargarImagenRecibo:hover, #CargarInfoRecibo:hover{
    color: #fff;
    background-color:#44546A !important;
    border: 1px solid #44546A;
}
input#Imagen_facuta {
   height: 40px;
    width: 100%;
}

button#AceptarImagenRecibo{
    width: 55%;
    height: 40px;
    padding: 2px;
    margin-left: -3%;
}

#formInfoRecibo label{
    color: gray !important;
    text-align: center;
}

@media (min-width: 991px){
    .input-file-name{
        float: right !important;
        position: relative !important;
        margin-right: -40px !important;
    }
    .btn-load-file{
        /* float: left !important; */
        position: relative !important;
        margin-left: 11px !important;
        width: 60% !important;
    }
    .a-dowload-file{
        /* float: left !important; */
        position: relative !important;
        /*margin-left: 11px !important;*/
        width: 80% !important;
    }
}
@media (max-width: 990px){
    .input-file-name{
        /*float: right !important;*/
        position: relative !important;
        margin-right: 0px !important;
        width: 100% !important;
    }
    .btn-load-file{
        /*float: left !important;*/
        position: relative !important;
        margin-left: -28px !important;
    }
      .a-dowload-file{
        /*float: left !important;*/
        position: relative !important;
        margin-left: 0px !important;
        width: 100% !important;
    }
}

.botn{
    display: inline-block;
    background-image: none;
    width: 90%;
    padding: 12px 12px;

}

.botn img{
    float: left;
    margin-left: 10px;
    width:16px; 
    height:16px;
}

.botn-medium{
    display: inline-block;
    background-image: none;
    width: 60%;
    padding: 5px 5px; 
    margin: 5px;
}

.botn-small{
    display: inline-block;
    background-image: none;
    width: 15%;
    padding: 5px 5px; 
    margin: 5px;
}

.titulo-listado{
    font-size: 14pt;
}

.no-bordes{
    border: none !important;
    box-shadow: none !important;
    margin: -5px 0 0 0 !important;
    color: black;
    padding: 0 !important;
    font-weight : bold;  
}

select.no-bordes   {
     outline: 0px;
     width: 50%;
}

.mitad{
    width:50% !important;
}

.set-right{
    float: right;
}

select.no-bordes  option {
   background-color: #666;   
}

.calendar{
    background: url(Imagenes/calendar.png) no-repeat left;
    margin: 0 0 0 15px !important;
    padding: 12px 30px !important;
}

.red-header{
    padding: 8px;
    border-bottom: 2px solid #972137;
    background-color: #972137;
    color: white;
    text-shadow: 1px 2px 3px rgba(0,0,0,0.75);
   -webkit-box-shadow: 0px 2px 10px 0px #666;
    -moz-box-shadow: 0px 2px 10px 0px #666;
    box-shadow: 0px 2px 10px 0px #666;
}

.no-bordes::-webkit-input-placeholder { color:black; }
.no-bordes::-moz-placeholder { color:black; } /* firefox 19+ */
.no-bordes:-ms-input-placeholder { color:black } /* ie */

.grid tr:nth-child(even){background-color: white; border-bottom: 1px solid #f2f2f2; }

.grid th {
    border-left: 1px solid white;
    text-align: center;
}
.grid td {
    text-align: left;
    padding: 5px;
}

.color-black{
    color: black;
}

.color-red{
    color: red;
}

.datepicker { 
    margin-top:55px !important; 
    z-index: 1151 !important;   
}

.col-xs-5-col,
.col-sm-5-col,
.col-md-5-col,
.col-lg-5-col {
    min-height: 1px; 
    position: relative;
}

.col-xs-5-col {
    float: left;
    width: 20%;
}

.modal-gr {
    width: 90%;
    margin: 30px auto;
}


@media (min-width: 768px) {
    .col-sm-5-col {
        float: left;
        width: 20%;
    }
    .modal-gr {
        width: 80% !important;
        margin: 30px auto;
    }
    .modal-xl {
        width: 80%;
        max-width:1200px;
    }
}

@media (min-width: 992px) {
    .col-md-5-col {
        float: left;
        width: 20%;
    }
    .modal-gr {
        width: 70% !important;
    }
}

@media (min-width: 1200px) {
    .col-lg-5-col {
        float: left;
        width: 20%;
    }
}

.verFactura{
        width: 60px !important;
    height: 30px !important;
    margin-top: 5px !important;
    margin-bottom: 9px !important;
    font-size: 20px !important;

}