﻿
<div class="row">
    <div class="col-md-4 col-md-offset-8 ">
        <input type="button" class="asociar_recibo btn btn-primary"  name="" value="ASOCIAR RECIBO" />
    </div>
</div>
<h3 style="font-weight:bold">LISTADO DE FACTURAS</h3>
<div class="container">
    <div class="row" style="width:90%">
        <div class="table-responsive">
            <table class="table-ListadoFacturas" id="my-table">
                <thead>
                    <tr >
                        <th class="th-ListadoFacturasCheck">
                           
                        </th>
                        <th class="th-ListadoFacturas">
                            N° FACTURA
                        </th>
                        <th class="th-ListadoFacturas">
                            FECHA DE EMISIÓN

                        </th>
                        <th class="th-ListadoFacturas">
                            MONTO
                        </th>
                        <th class="th-ListadoFacturas">
                            CLIENTE
                        </th>
                        <th class="th-ListadoFacturas">
                            STATUS
                        </th>
                        <th class="th-ListadoFacturasAcciones">
                            
                        </th>

                    </tr>

                    <tr class="tr-ListadoFacturas">

                        <th></th>
                        <th>
                            <input class="col-md-6 col-sm-12" type="text" id="factura_search" value=""  />
                        </th>
                        <th></th>
                        <th></th>
                        <th>
                            <input class="col-md-6 col-sm-12" type="text" id="cliente_search" value=""  />
                        </th>
                        <th>
                            <input class="col-md-6 col-sm-12" type="text" id="status_search" value=""  />
                        </th>
                        <th>
                            
                        <th>
                </tr>
                </thead>
                <tbody id="TablaListadoFacturas">
                    <tr class="tr-ListadoFacturas">
                        <td class="td-ListadoFacturasCheck">
                            <input type="checkbox" name="check_seleccionados[]" value="1" aria-label="...">
                        </td>
                        <td class="td-ListadoFacturas-numero">11111</td>
                        <td class="td-ListadoFacturas">30/9/89</td>
                        <td class="td-ListadoFacturas">44444</td>
                        <td class="td-ListadoFacturas-cliente">qqqqq</td>
                        <td class="td-ListadoFacturas-status">pagada</td>
                        <td class="td-ListadoFacturasAcciones">
                            <div class="col-md-1 ">
                                @Html.ActionLink("ver", "ListarEmpleadoCliente", new { }, new { @class = "btn-view verFactura" })
                            </div>
                        </td>
                    </tr>
                    <tr class="tr-ListadoFacturas">
                        <td class="td-ListadoFacturasCheck"><input type="checkbox" name="check_seleccionados[]" value="2"  aria-label="..."></td>
                        <td class="td-ListadoFacturas-numero">2222</td>
                        <td class="td-ListadoFacturas">30/9/89</td>
                        <td class="td-ListadoFacturas">5555</td>
                        <td class="td-ListadoFacturas-cliente"> wwwww</td>
                        <td class="td-ListadoFacturas-status">dedua</td>
                        <td class="td-ListadoFacturasAcciones">
                            <div class="col-md-1 ">
                                @Html.ActionLink("ver", "ListarEmpleadoCliente", new { }, new { @class = "btn-view verFactura" })
                            </div>
                        </td>
                    </tr>
                    <tr class="tr-ListadoFacturas">
                        <td class="td-ListadoFacturasCheck"><input type="checkbox" name="check_seleccionados[]" value="3"  aria-label="..."></td>
                        <td class="td-ListadoFacturas-numero">3333</td>
                        <td class="td-ListadoFacturas">30/9/89</td>
                        <td class="td-ListadoFacturas">6666</td>
                        <td class="td-ListadoFacturas-cliente"> ttttt</td>
                        <td class="td-ListadoFacturas-status">Por Pagar</td>
                        <td class="td-ListadoFacturasAcciones">
                            <div class="col-md-1 ">
                                @Html.ActionLink("ver", "ListarEmpleadoCliente",new { }, new { @class = "btn-view verFactura " })
                            </div>
                        </td>
                    </tr>


                </tbody>
            </table>
        </div>
        <input id="tipoModal" type="hidden" name="name" value="" />
        <div id="modalrecibo" class="modal fade " data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content  modal-lg">
                    <div class="modalrecibo">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 id="titulo_modal" class="modal-title">ASOCIAR RECIBO DE PAGO A FACTURAS</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row" >
                            <div class="col-md-6 col-sm-12 col-xs-12"  id="FacturasRelacionadas" >
                                <p style="font-weight:bold">FACTURAS RELACIONADAS</p>
                            </div>
                            <div  id="marcoVistaPrevia" hidden>
                                <img id="vistaPrevia" src="" alt="" />
                            </div>
                        </div>
                        <div class="modalImagenRecibo"  hidden>
                            <div class="row">
                                <div class="col-md-6 col-md-offset-3">
                                    <div id='botonera'>
                                        <input id="imagenfile" name="imagenfile" type="file" style="display:none" />
                                        <input id="Imagen_factura" type="text" accept="image/*" name="name" readonly placeholder="Seleccionar archivo..." />
                                      
                                     </div>
                                   

                                     <br />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-5 col-sm-12 col-xs-12">
                                    <button type="button" id="AceptarImagenRecibo" class="btn btn-primary " data-dismiss="modal">
                                        ACEPTAR
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="modalInfoRecibo" hidden>
                            <div class="row">
                                <p style="font-weight:bold; margin-left:14px">INFORMACIÓN DE RECIBO</p>
                                <form class="form-inline" id="formInfoRecibo">
                                    <div class="form-group col-md-4">
                                        <label for="NumeroRecibo">N° DE RECIBO </label>
                                        <input type="number" class="form-control" id="NumeroRecibo">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="MontoRecibo">MONTO DE RECIBO</label>
                                        <input type="number" class="form-control" id="MontoRecibo">
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label for="BancoRecibo">BANCO</label>
                                        <input type="text" class="form-control" id="BancoRecibo">
                                    </div>

                                </form>

                                </div>
                            <div class="row">
                                <div class="col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                                    <button type="button" id="AceptarInfoRecibo" class="btn btn-primary " data-dismiss="modal">
                                        ACEPTAR
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row botonesModalFactura">
                            <div class="col-md-4 col-md-offset-2 col-sm-12 col-xs-12">
                                <button type="button" id="CargarInfoRecibo" class="btn btn-primary " >
                                    Cargar información de recibo
                                </button>
                            </div>
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <button type="button" id="CargarImagenRecibo" class="btn btn-primary ">Cargar imagen de recibo</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center paginarListadoFacturas">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/select2.js")
    <script type="text/javascript">
        $(document).ready(function () {

            var files = null

            //Este string contiene una imagen de 1px*1px color blanco
            window.imagenVacia = 'data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==';

            window.mostrarVistaPrevia = function mostrarVistaPrevia() {

                var Archivos, Lector;

                

                Archivos = jQuery('#imagenfile')[0].files;
              
              
                if (Archivos.length > 0) {

                    Lector = new FileReader();
                    Lector.onloadend = function (e) {
                        var origen, tipo;

                        
                        //Envia la imagen a la pantalla
                        origen = e.target; //objeto FileReader
                        //Prepara la información sobre la imagen
                        tipo = window.obtenerTipoMIME(origen.result.substring(0, 30));
                       
                        jQuery('#imagenfile').text(Archivos[0].name + ' (Tipo: ' + tipo + ')');
                        
                        $("#Imagen_factura").val(Archivos[0].name);
                        //Si el tipo de archivo es válido lo muestra, 
                        //sino muestra un mensaje 
                  
                            if (tipo !== 'image/jpeg' && tipo !== 'image/png' && tipo !== 'image/gif') {
                                jQuery('#vistaPrevia').attr('src', window.imagenVacia);
                                alert('El formato de imagen no es válido: debe seleccionar una imagen JPG, PNG o GIF.');
                            } else {
                                jQuery('#vistaPrevia').attr('src', origen.result);

                                
                              
                                window.obtenerMedidas();
                            }
                        
                    };
                    Lector.onerror = function (e) {
                        console.log(e)
                    }
                    Lector.readAsDataURL(Archivos[0]);

                } else {
                    var objeto = jQuery('#imagenfile');
                    objeto.replaceWith(objeto.val('').clone());
                    jQuery('#vistaPrevia').attr('src', window.imagenVacia);
               
                };


            };

            //Lee el tipo MIME de la cabecera de la imagen
            window.obtenerTipoMIME = function obtenerTipoMIME(cabecera) {
                return cabecera.replace(/data:([^;]+).*/, '\$1');
            }

            //Obtiene las medidas de la imagen y las agrega a la 
            //etiqueta infoTamaño
            window.obtenerMedidas = function obtenerMedidas() {
                jQuery('<img/>').bind('load', function (e) {

                    var tamaño = jQuery('#infoTamaño').text() + '; Medidas: ' + this.width + 'x' + this.height;

                    jQuery('#infoTamaño').text(tamaño);

                }).attr('src', jQuery('#vistaPrevia').attr('src'));
            }

            jQuery(document).ready(function () {

                //Cargamos la imagen "vacía" que actuará como Placeholder
                jQuery('#vistaPrevia').attr('src', window.imagenVacia);

                //El input del archivo lo vigilamos con un "delegado"
                jQuery('#botonera').on('change', '#imagenfile', function (e) {
                    window.mostrarVistaPrevia();
                });

                

            });


            $("#Imagen_factura").click(function () {
                $("#imagenfile").click();
                $("#marcoVistaPrevia").show();
                $("#FacturasRelacionadas").hide();

            });

            $(".asociar_recibo").click(function () {
                var categoriasFacturas = new Array();

                $("input[name='check_seleccionados[]']:checked").each(function () {
                    categoriasFacturas.push($(this).val());
             
                });

                //alert(categoriasFacturas);
            });
            $("#CargarImagenRecibo").click(function () {
                $(".botonesModalFactura").hide();
                $(".modalImagenRecibo").show();

            });
            $("#CargarInfoRecibo").click(function () {
                $(".botonesModalFactura").hide();
                $(".modalInfoRecibo").show();

            });
            $("#AceptarImagenRecibo").click(function () {
                $(".botonesModalFactura").show();
                $(".modalImagenRecibo").hide();
                $("#marcoVistaPrevia").hide();
                $("#FacturasRelacionadas").show();
                var objeto = jQuery('#archivo');
                objeto.replaceWith(objeto.val('').clone());

                jQuery('#vistaPrevia').attr('src', window.imagenVacia);
              
            });

            $("#AceptarInfoRecibo").click(function () {
                $(".botonesModalFactura").show();
                $(".modalInfoRecibo").hide();
            });
            $(".paginarListadoCliente").show();
            $('#TablaListadoFacturas').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 6 });
            // Write on keyup event of keyword input element
            $("#status_search").keyup(function () {
                // When value of the input is not blank
                if ($(this).val() != "") {
                    // Show only matching TR, hide rest of them
                    $("#my-table tbody>tr").hide();
                    $(".paginarListadoFacturas").hide();
                    $("#my-table td.td-ListadoFacturas-status:contains-ci('" + $(this).val() + "')").parent("tr").show();
                }
                else {
                    // When there is no input or clean again, show everything back
                    $("#my-table tbody>tr").show();
                    $(".paginarListadoFacturas").show();
                }
            });
            $("#cliente_search").keyup(function () {
                // When value of the input is not blank
                if ($(this).val() != "") {
                    // Show only matching TR, hide rest of them
                    $("#my-table tbody>tr").hide();
                    $(".paginarListadoFacturas").hide();
                    $("#my-table td.td-ListadoFacturas-cliente:contains-ci('" + $(this).val() + "')").parent("tr").show();
                }
                else {
                    // When there is no input or clean again, show everything back
                    $("#my-table tbody>tr").show();
                    $(".paginarListadoFacturas").show();
                }
            });
            $("#factura_search").keyup(function () {
                // When value of the input is not blank
                if ($(this).val() != "") {
                    // Show only matching TR, hide rest of them
                    $("#my-table tbody>tr").hide();
                    $(".paginarListadoFacturas").hide();
                    $("#my-table td.td-ListadoFacturas-numero:contains-ci('" + $(this).val() + "')").parent("tr").show();
                }
                else {
                    // When there is no input or clean again, show everything back
                    $("#my-table tbody>tr").show();
                    $(".paginarListadoFacturas").show();
                }
            });
        });
        // jQuery expression for case-insensitive filter
        $.extend($.expr[":"],
        {
            "contains-ci": function (elem, i, match, array) {
                return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
            }

        });

        $(".asociar_recibo").click(function () {
            $("#modalrecibo").modal('show');
        });

        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 10,
                    showPrevNext: false,
                    numbersPerPage: 10,
                    hidePageNumbers: false,
                    showFirstLast: true
                },
                settings = $.extend(defaults, opts);

            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.length;
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="prev_link"></a></li>').appendTo(pager);
            }

            var curr = 0;
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }

            if (settings.showPrevNext) {
                $('<li><a href="#" class="next_link"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.prev_link').hide();
            if (numPages <= 1) {
                pager.find('.next_link').hide();
            }
            pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .prev_link').click(function () {
                previous();
                return false;
            });
            pager.find('li .next_link').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.prev_link').show();
                }
                else {
                    pager.find('.prev_link').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.next_link').show();
                }
                else {
                    pager.find('.next_link').hide();
                }

                pager.data("curr", page);
                pager.children().removeClass("active");
                pager.children().eq(page + 1).addClass("active");

            }
        };


    </script>

}