﻿@model DONE.Models.templeado

@{
    ViewBag.Title = "DetalleEmpleado";
}



<p>
    <span class="imagenRegresar">@Html.ActionLink("Regresar", "ListarEmpleadoCliente", new { id = Model.idcliente }, new { @class = "RegresarListadoCliente" })</span>
</p>
<div class="row">
    <h2>Detalle Empleado</h2>

    <div class="colorLinea"></div>
    
    @*<dt class="detalleNombre">
        Nombre Cliente
    </dt>

    <dd>
        @Html.DisplayFor(model => model.tcliente.nombre)
    </dd>*@
    <div class="col-md-4">
        <dl class="dl-horizontal">
            <dt class="detalleNombre">
                Nombre
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)

                @Html.DisplayFor(model => model.apellidopaterno)

                @Html.DisplayFor(model => model.apellidomaterno)
            </dd>
            <dt class="detalleNombre">
                Puesto
            </dt>

            <dd>
                @Html.DisplayFor(model => model.puesto)
            </dd>

            <dt class="detalleNombre">
                Turno
            </dt>

            <dd>
                @Html.DisplayFor(model => model.turno)
            </dd>

            <dt class="detalleNombre">
                Codigo Empleado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.codigoempleado)
            </dd>


            <dt class="detalleNombre">
                Fecha de Nacimiento
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechanacimiento)
            </dd>

            <dt class="detalleNombre">
                Sexo
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sexo)
            </dd>

            <dt class="detalleNombre">
                Curp Inicial
            </dt>

            <dd>
                @Html.DisplayFor(model => model.curpi)
            </dd>

            <dt class="detalleNombre">
                Curp Final
            </dt>

            <dd>
                @Html.DisplayFor(model => model.curpf)
            </dd>

            <dt class="detalleNombre">
                N° Seguro Social
            </dt>

            <dd>
                @Html.DisplayFor(model => model.numerosegurosocial)
            </dd>

            <dt class="detalleNombre">
                RFC
            </dt>

            <dd>
                @Html.DisplayFor(model => model.rfc)
            </dd>
            <dt class="detalleNombre">
                Homo Clave
            </dt>

            <dd>
                @Html.DisplayFor(model => model.homoclave)
            </dd>
           
        </dl>
    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">

            <dt class="detalleNombre">
                Fecha Sueldo Integrado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechasueldointegrado)
            </dd>

            <dt class="detalleNombre">
                Fecha Alta
            </dt>

            <dd>
                @Html.DisplayFor(model => model.fechaalta)
            </dd>

            <dt class="detalleNombre">
                Tipo Contrato
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipocontrato)
            </dd>

            <dt class="detalleNombre">
                Base Cotizaciones
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basecotizacionimss)
            </dd>

            <dt class="detalleNombre">
                Tipo Empleado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.tipoempleado)
            </dd>

            <dt class="detalleNombre">
                Base Pago
            </dt>

            <dd>
                @Html.DisplayFor(model => model.basepago)
            </dd>



            <dt class="detalleNombre">
                Forma Pago
            </dt>

            <dd>
                @Html.DisplayFor(model => model.formapago)
            </dd>

            <dt class="detalleNombre">
                Zona Salario
            </dt>

            <dd class="detalleNombre">
                @Html.DisplayFor(model => model.zonasalario)
            </dd>

            <dt class="detalleNombre">
                PTU
            </dt>

            <dd>
                @if (Model.calculoptu == false)
                {
                    <label style="font-weight:normal !important">No Aplica</label>
                                                @*@Html.DisplayFor(model => model.calculoptu)*@
                }
                else
                {
                    <label style="font-weight:normal !important">Aplica</label>
                }

            </dd>

            <dt class="detalleNombre">
                Aguinaldo
            </dt>

            <dd>
                @if (Model.calculoaguinaldo == false)
                {
                    <label style="font-weight:normal !important">No Aplica</label>
                    @* @Html.DisplayFor(model => model.calculoaguinaldo)*@
                }
                else
                {
                    <label style="font-weight:normal !important">Aplica</label>
                }
                               
            </dd>

            

        </dl>

    </div>

    <div class="col-md-4">
        <dl class="dl-horizontal">
           


            <dt class="detalleNombre">
                Cuenta
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cuentapagoelectronico)
            </dd>

            <dt class="detalleNombre">
                Banco
            </dt>

            <dd>
                @Html.DisplayFor(model => model.bancopagoelectronico)
            </dd>

            <dt class="detalleNombre">
                Estado Empleado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.estadoempleado)
            </dd>

            <dt class="detalleNombre">
                Sueldo Total
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sueldototal)
            </dd>

            <dt class="detalleNombre">
                Fecha Sueldo
            </dt>


            <dd>
                @Html.DisplayFor(model => model.fechasueldototal)
            </dd>

            <dt class="detalleNombre">
                Registro Patronal
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cidregistropatronal)
            </dd>

            <dt class="detalleNombre">
                Periodo de Pago
            </dt>

            <dd>
                @Html.DisplayFor(model => model.cestadoempleadoperiodo)
            </dd>


            <dt class="detalleNombre">
                Sueldo Sindicato
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sueldo_sindicato)
            </dd>

            <dt class="detalleNombre">
                Sueldo Asimilado
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sueldo_asimilado)
            </dd>

            <dt class="detalleNombre">
                Sueldo SA
            </dt>

            <dd>
                @Html.DisplayFor(model => model.sueldo_sa)
            </dd>




        </dl>

    </div>
</div>

