﻿@model DONE.Models.templeado

@{
    ViewBag.Title = "EditarEmpleado";
}
<p>
    <span class="imagenRegresar">@Html.ActionLink("Regresar", "ListarEmpleadoCliente", new { id = Model.idcliente }, new { @class = "RegresarListadoCliente" })</span>
</p>

<h2>Editar Empleado</h2>
<div class="colorLinea"></div>
@using (Html.BeginForm())
{
    <div class="form-horizontal formEditar">


        @Html.HiddenFor(model => model.idempleado)

        <div class="row">

            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4"> Nombre</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.nombre)
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>
            </div>
       
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.apellidopaterno, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4"> Apellido Paterno</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.apellidopaterno)
                    @Html.ValidationMessageFor(model => model.apellidopaterno)
                </div>
            </div> 

       
        </div>

      
        <div class="row">

         <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.apellidomaterno, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4"> Apellido Materno</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.apellidomaterno)
                    @Html.ValidationMessageFor(model => model.apellidomaterno)
                </div>
            </div>
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.puesto, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4"> Puesto</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.puesto)
                    @Html.ValidationMessageFor(model => model.puesto)
                </div>
            </div>
        </div>


        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.turno, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4"> Turno</label>
                <div class="col-md-8">
                    @{
                        var turno = new SelectList(new[]
                                        {
                       new SelectListItem {Text = "Matutino", Value = "Matutino"},
                       new SelectListItem {Text = "Vespertino", Value = "Vespertino"},
                       new SelectListItem {Text = "Nocturno", Value = "Nocturno"},
                   }, "Text", "Value");
                    }

                    @Html.DropDownListFor(model => model.turno, @turno)
                    @*@Html.EditorFor(model => model.turno)*@
                    @Html.ValidationMessageFor(model => model.turno)
                </div>
            </div>
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.codigoempleado, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4"> Codigo</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.codigoempleado, new { id = "news_date" })
                @Html.ValidationMessageFor(model => model.codigoempleado)
            </div>
            </div>

        </div>

        <div class="row">

             <div class="form-group col-md-6">
                 <div hidden>
                     @Html.LabelFor(model => model.fechanacimiento, new { @class = "control-label col-md-2" })
                 </div>
                 <label class="control-label col-md-4">Fecha Nacimiento</label>
                <div class="col-md-8">
                  
                    @Html.EditorFor(model => model.fechanacimiento, new { @type = "date" })
                    @Html.ValidationMessageFor(model => model.fechanacimiento)
                </div>
            </div>


            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.sexo, new { @class = "control-label col-md-2" })
                </div>
                    <label class="control-label col-md-4">Sexo</label>
                    <div class="col-md-8">
                        @{
                            var items = new SelectList(new[]
                                            {
                       new SelectListItem {Text = "F", Value = "F"},
                       new SelectListItem {Text = "M", Value = "M"},
                   }, "Text", "Value");
                        }

                        @Html.DropDownListFor(model => model.sexo, @items)
                        @*@Html.EditorFor(model => model.sexo)*@
                        @Html.ValidationMessageFor(model => model.sexo)
                    </div>
                </div>

        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.curpi, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4">Curp Inicial</label>
            <div class="col-md-8">
                    @Html.EditorFor(model => model.curpi)
                    @Html.ValidationMessageFor(model => model.curpi)
                </div>
            </div>

            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.curpf, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4">Curp Final</label>
            <div class="col-md-8">
                    @Html.EditorFor(model => model.curpf)
                    @Html.ValidationMessageFor(model => model.curpf)
                </div>
            </div>

        </div>

    
        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.numerosegurosocial, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4">N° Seguro Social</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.numerosegurosocial)
                @Html.ValidationMessageFor(model => model.numerosegurosocial)
            </div>
            </div>


            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.rfc, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">RFC</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.rfc)
                    @Html.ValidationMessageFor(model => model.rfc)
                </div>
                </div>

        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.cuentapagoelectronico, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">Cuenta</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.cuentapagoelectronico)
                    @Html.ValidationMessageFor(model => model.cuentapagoelectronico)
                </div>
                </div>


            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.bancopagoelectronico, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">Banco</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.bancopagoelectronico)
                    @Html.ValidationMessageFor(model => model.bancopagoelectronico)
                </div>
                </div>

        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.homoclave, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4">Homo Clave</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.homoclave)
                @Html.ValidationMessageFor(model => model.homoclave)
            </div>
            </div>


        <div class="form-group col-md-6">
            <div hidden>
                @Html.LabelFor(model => model.estadoempleado, new { @class = "control-label col-md-2" })
            </div>
        <label class="control-label col-md-4">Estado Empleado</label>
        <div class="col-md-8">
            @{
                var estadoempleado = new SelectList(new[]
                                {
                       new SelectListItem {Text = "B", Value = "Baja"},
                       new SelectListItem {Text = "A", Value = "Alta"},
                   }, "Text", "Value");
            }

            @Html.DropDownListFor(model => model.estadoempleado, @estadoempleado)
            @*@Html.EditorFor(model => model.estadoempleado)*@
            @Html.ValidationMessageFor(model => model.estadoempleado)
        </div>
            </div>

        </div>

        
        <div class="row">

            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.sueldototal, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4">Sueldo Total</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.sueldototal)
                @Html.ValidationMessageFor(model => model.sueldototal)
            </div>
            </div>

        <div class="form-group col-md-6">
            <div hidden>
                @Html.LabelFor(model => model.fechasueldototal, new { @class = "control-label col-md-2" })
            </div>
        <label class="control-label col-md-4">Fecha Sueldo</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.fechasueldototal)
            @Html.ValidationMessageFor(model => model.fechasueldototal)
        </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.sueldointegrado, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4">Fecha Integrado</label>
            <div class="col-md-8">
                @Html.EditorFor(model => model.sueldointegrado)
                @Html.ValidationMessageFor(model => model.sueldointegrado)
            </div>
            </div>

        <div class="form-group col-md-6">
            <div hidden>
                @Html.LabelFor(model => model.fechasueldointegrado, new { @class = "control-label col-md-2" })
            </div>
        <label class="control-label col-md-4">Sueldo Integrado</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.fechasueldointegrado)
            @Html.ValidationMessageFor(model => model.fechasueldointegrado)
        </div>
            </div>

        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.fechaalta, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">Fecha de Alta</label>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.fechaalta)
                    @Html.ValidationMessageFor(model => model.fechaalta)
                </div>
                </div>

            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.tipocontrato, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">Tipo Contrato</label>
                <div class="col-md-8">
                    @{
                        var tipocontrato = new SelectList(new[]
                                        {
                       new SelectListItem {Text = "P", Value = "Permanente"},
                       new SelectListItem {Text = "E", Value = "Eventual"},
                   }, "Text", "Value");
                    }

                    @Html.DropDownListFor(model => model.tipocontrato, @tipocontrato)
                    @*@Html.EditorFor(model => model.tipocontrato)*@
                    @Html.ValidationMessageFor(model => model.tipocontrato)
                </div>
                </div>
        </div>

        <div class="row">

            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.basecotizacionimss, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4">Base Cotizaciones</label>
            <div class="col-md-8">
                @{
                    var basecotizacion = new SelectList(new[]
                                    {
                       new SelectListItem {Text = "F", Value = "Fijo"},
                       new SelectListItem {Text = "V", Value = "Variable"},
                       new SelectListItem {Text = "M", Value = "Mixto"},
                   }, "Text", "Value");
                }

                @Html.DropDownListFor(model => model.basecotizacionimss, @basecotizacion)
               @* @Html.EditorFor(model => model.basecotizacionimss)*@
                @Html.ValidationMessageFor(model => model.basecotizacionimss)
            </div>
            </div>

        <div class="form-group col-md-6">
            <div hidden>
                @Html.LabelFor(model => model.tipoempleado, new { @class = "control-label col-md-2" })
            </div>
        <label class="control-label col-md-4">Tipo Empleado</label>
        <div class="col-md-8">
            @{
                var tipoempleado = new SelectList(new[]
                                {
                       new SelectListItem {Text = "C", Value = "Confianza"},
                       new SelectListItem {Text = "S", Value = "Sindicalizado"},
                    
                   }, "Text", "Value");
            }

            @Html.DropDownListFor(model => model.tipoempleado, @tipoempleado)
            @*@Html.EditorFor(model => model.tipoempleado)*@
            @Html.ValidationMessageFor(model => model.tipoempleado)
        </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.basepago, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">Base Pago</label>
                <div class="col-md-8">
                    @{
                        var basepago = new SelectList(new[]
                                        {
                       new SelectListItem {Text = "O", Value = "Sueldo + Comision"},
                       new SelectListItem {Text = "S", Value = "Sueldo"},

                   }, "Text", "Value");
                    }

                    @Html.DropDownListFor(model => model.basepago, @basepago)
                    @*@Html.EditorFor(model => model.basepago)*@
                    @Html.ValidationMessageFor(model => model.basepago)
                </div>
                </div>

            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.formapago, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">Forma Pago</label>
                <div class="col-md-8">
                    @{
                        var formapago = new SelectList(new[]
                                        {
                       new SelectListItem {Text = "E", Value = "Efectivo"},
                       new SelectListItem {Text = "C", Value = "Cheque"},
                       new SelectListItem {Text = "T", Value = "Tarjeta"},

                   }, "Text", "Value");
                    }

                    @Html.DropDownListFor(model => model.formapago, @formapago)
                    @*@Html.EditorFor(model => model.formapago)*@
                    @Html.ValidationMessageFor(model => model.formapago)
                </div>
                </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.calculoptu, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">PTU</label>
                <div class="col-md-8">
                    @{
                        var calculoptu = new SelectList(new[]
                                        {
                       new SelectListItem {Text = "true", Value = "Aplica"},
                       new SelectListItem {Text = "false", Value = "No Aplica"},
                       

                   }, "Text", "Value");
                    }
                    @Html.DropDownListFor(model => model.calculoptu, @calculoptu)
                    @*@Html.EditorFor(model => model.calculoptu)*@
                    @Html.ValidationMessageFor(model => model.calculoptu)
                </div>
                </div>

            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.calculoaguinaldo, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">Aguinaldo</label>
                <div class="col-md-8">
                    @{
                        var calculoaguinaldo = new SelectList(new[]
                                        {
                       new SelectListItem {Text = "true", Value = "Aplica"},
                       new SelectListItem {Text = "false", Value = "No Aplica"},


                   }, "Text", "Value");
                    }
                    @Html.DropDownListFor(model => model.calculoaguinaldo, @calculoaguinaldo)
                    @*@Html.EditorFor(model => model.calculoaguinaldo)*@
                    @Html.ValidationMessageFor(model => model.calculoaguinaldo)
                </div>
                </div>

        </div>
           
        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.zonasalario, new { @class = "control-label col-md-2" })
                </div>
            <label class="control-label col-md-4">Zona Salario</label>
            <div class="col-md-8">
                @{
                    var zonasalario = new SelectList(new[]
                                    {
                       new SelectListItem {Text = "A", Value = "Zona A"},
                       new SelectListItem {Text = "B", Value = "Zona B"},


                   }, "Text", "Value");
                }
                @Html.DropDownListFor(model => model.zonasalario, @zonasalario)
                @*@Html.EditorFor(model => model.zonasalario)*@
                @Html.ValidationMessageFor(model => model.zonasalario)
            </div>
            </div>
        <div class="form-group col-md-6">
            <div hidden>
                @Html.LabelFor(model => model.cidregistropatronal, new { @class = "control-label col-md-2" })
            </div>
        <label class="control-label col-md-4">Registro Patronal</label>
        <div class="col-md-8">
            @Html.EditorFor(model => model.cidregistropatronal)
            @Html.ValidationMessageFor(model => model.cidregistropatronal)
        </div>
            </div>
        </div>
            
        <div class="row">
            <div class="form-group col-md-6">
                <div hidden>
                    @Html.LabelFor(model => model.cestadoempleadoperiodo, new { @class = "control-label col-md-2" })
                </div>
                <label class="control-label col-md-4">Periodo</label>
                <div class="col-md-8">
                    @{
                        var cestadoempleadoperiodo = new SelectList(new[]
                                        {
                       new SelectListItem {Text = "Q", Value = "Quincenal"},
                       new SelectListItem {Text = "C", Value = "Catorcenal"},
                        new SelectListItem {Text = "M", Value = "Mensual"},
                       new SelectListItem {Text = "S", Value = "Semanal"},


                   }, "Text", "Value");
                    }
                    @Html.DropDownListFor(model => model.cestadoempleadoperiodo, @cestadoempleadoperiodo)
                    @*@Html.EditorFor(model => model.cestadoempleadoperiodo)*@
                    @Html.ValidationMessageFor(model => model.cestadoempleadoperiodo)
                </div>
                </div>
        </div>

            
        <div hidden>

            <div class="form-group">
                @Html.LabelFor(model => model.idcliente, "idcliente", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idcliente", String.Empty)
                    @Html.ValidationMessageFor(model => model.idcliente)
                </div>
            </div>
        </div>

        <div hidden>
            <div class="form-group">
                @Html.LabelFor(model => model.sueldo_sindicato, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sueldo_sindicato)
                    @Html.ValidationMessageFor(model => model.sueldo_sindicato)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sueldo_asimilado, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sueldo_asimilado)
                    @Html.ValidationMessageFor(model => model.sueldo_asimilado)
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.sueldo_sa, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.sueldo_sa)
                    @Html.ValidationMessageFor(model => model.sueldo_sa)
                </div>
            </div>
        </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="GUARDAR" id="guardarEditar" class="btn btn-primary" />
                </div>
            </div>
        </div>
        }

      
@section Scripts {


    <script type="text/javascript">

        $(function () {
            $("#news_date").datepicker({ dateFormat: 'dd/mm/yy' });
        });

    </script>

}
