﻿@model IEnumerable<DONE.Models.tcliente>

@{
    ViewBag.Title = "ListarClientes";
}

<h3>LISTADO DE CLIENTES</h3>



<div class="container">
    <input class="col-md-6 col-sm-12 buscarCliente" type="text" id="kwd_search" value="" placeholder="Buscar Cliente" />
    <div class="row">
        <div class="table-responsive">
    <table class="table-ListaClientes table-hover" id="my-table">
                    <thead>
                        <tr class="tr-ListaClientes">
                            <th class="th-ListaClientes">
                                <br />
                            </th>
                        </tr>
                    </thead>

                    <tbody id="TablaListadoClientes">

                        @foreach (var item in Model)
                        {
                            <tr class="tr-ListaClientes">
                                <td class="td-ListaClientes">
                                    <div class="row-fluid">
                                        <div class="col-md-2 imagenListadoClientes">

                                        </div>
                                        <div class="col-md-8">
                                            <div class="tituloListadoClientes">
                                                @Html.DisplayFor(modelItem => item.nombre)
                                            </div>
                                            <div class="subTituloListadoClientes">
                                                @Html.DisplayFor(modelItem => item.tipo_servicio)
                                                <br />
                                                @Html.DisplayFor(modelItem => item.frecuencia_pago)
                                            </div>
                                        </div>
                                        <div class="col-md-2 ">
                                           
                                            @Html.ActionLink("ver", "ListarEmpleadoCliente", new { id = item.idcliente }, new { @class = "btn-view" })
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
</div>
        <div class="paginarListadoCliente col-md-12 text-center">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/Scripts/select2.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#TablaListadoClientes').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 50 });
            // Write on keyup event of keyword input element
            $("#kwd_search").keyup(function () {
                // When value of the input is not blank
                if ($(this).val() != "") {
                    // Show only matching TR, hide rest of them
                    $("#my-table tbody>tr").hide();
                    $("#my-table td:contains-ci('" + $(this).val() + "')").parent("tr").show();
                    $(".paginarListadoCliente").hide();
                }
                else {
                    // When there is no input or clean again, show everything back
                    $("#my-table tbody>tr").show();
                    $(".paginarListadoCliente").show();
                }
            });
        });
        // jQuery expression for case-insensitive filter
        $.extend($.expr[":"],
        {
            "contains-ci": function (elem, i, match, array) {
                return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
            }

        });


        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 10,
                    showPrevNext: false,
                    numbersPerPage: 10,
                    hidePageNumbers: false,
                    showFirstLast: true
                },
                settings = $.extend(defaults, opts);

            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.length;
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="prev_link"></a></li>').appendTo(pager);
            }

            var curr = 0;
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }

            if (settings.showPrevNext) {
                $('<li><a href="#" class="next_link"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.prev_link').hide();
            if (numPages <= 1) {
                pager.find('.next_link').hide();
            }
            pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .prev_link').click(function () {
                previous();
                return false;
            });
            pager.find('li .next_link').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.prev_link').show();
                }
                else {
                    pager.find('.prev_link').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.next_link').show();
                }
                else {
                    pager.find('.next_link').hide();
                }

                pager.data("curr", page);
                pager.children().removeClass("active");
                pager.children().eq(page + 1).addClass("active");

            }
        };

        
    </script>
    
    }