﻿@model IEnumerable<DONE.Models.templeado>

@{
    ViewBag.Title = "ListarEmpleadoCliente";
}

<div class="row">
    <span class="imagenRegresar">@Html.ActionLink("LISTADO CLIENTE", "ListarClientes", new { }, new { @class = "RegresarListadoCliente" })</span>   
</div>

<h2 class="tituloListado">Lista Empleado Cliente</h2>
<br />
<div class="container">
    <div class="row" style="width:90%">
        <div class="table-responsive">
            <table class="table-listaEmpleadpCliente" id="my-table">
                <thead>
                    <tr class="tr-listaEmpleadpCliente">
                        <th class="th-listaEmpleadpClienteAcciones">
                            ACCIONES
                        </th>
                        <th class="th-listaEmpleadpClienteVarias">

                            NOMBRE
                        </th>
                        <th class="th-listaEmpleadpClienteVarias">
                            BANCO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            N° CLABE
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            SALARIO TOTAL
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            FORMA DE PAGO
                        </th>
                        @*<th class="th-listaEmpleadpCliente">
                            CODIGO EMPLEADO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            FECHA DE ALTA
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            FECHA SALARIO TOTAL
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            FECHA SALARIO INTEGRADO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            TIPO DE CONTRATO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            TIPO Y NOMBRE DE PERIODO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            SUELDO TOTAL
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            SUELDO INTEGRADO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            BASE DE COTIZACION
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            ESTADO DEL EMPLEADO
                        </th>

                        <th class="th-listaEmpleadpCliente">
                            TIPO DE EMPLEADO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            BASE DE PAGO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            FORMA DE PAGO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            TURNO
                        </th>

                        <th class="th-listaEmpleadpCliente">
                            ZONA SALARIO
                        </th>

                        <th class="th-listaEmpleadpCliente">
                            N° SEGURO SOCIAL
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            RFC
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            HOMO CLAVE
                        </th>

                        <th class="th-listaEmpleadpCliente">
                            CURP INICIAL
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            CURP FINAL
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            SEXO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            FECHA DE NACIMIENTO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            PUESTO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            CUENTA PAGO ELECTRONICO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            REGISTRO PATRONAL
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            PTU
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            AGUINALDO
                        </th>
                        <th class="th-listaEmpleadpCliente">
                            % SUELDO SA
                        </th>*@
                    </tr>

                    <tr>
                        <th></th>
                        <th><input class="col-md-6 col-sm-12" type="text" id="buscarEmpleado_search" value="" placeholder="Buscar..." />
</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="TablalistaEmpleadpCliente">
                    @foreach (var item in Model)
                    {
                        if (ViewBag.buscaridCliente == item.idcliente)
                        {
                            <tr class="tr-listaEmpleadpCliente">
                                      
                                <td class="td-listaEmpleadpClienteAcciones">

                                    <a class="DetalleEmpleadoLink" href='@Url.Action("DetalleEmpleado", "ListadoCliente",new { id = item.idempleado })'>
                                    </a>
                                    <a class="EditarEmpleadoLink" href='@Url.Action("EditarEmpleado", "ListadoCliente", new { id = item.idempleado })'>
                                    </a>
                                </td>
                                <td class="td-listaEmpleadpClienteNombre">
                                    @Html.DisplayFor(modelItem => item.nombre)

                                    @Html.DisplayFor(modelItem => item.apellidopaterno)

                                    @Html.DisplayFor(modelItem => item.apellidomaterno)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.bancopagoelectronico)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.ClabeInterbancaria)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.sueldototal)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.formapago)
                                </td>
                                @*<td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.codigoempleado)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.fechaalta)
                                </td>

                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.fechasueldototal)
                                </td>

                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.fechasueldointegrado)
                                </td>

                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.tipocontrato)
                                </td>

                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.cestadoempleadoperiodo)
                                </td>

                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.sueldototal)
                                </td>

                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.sueldointegrado)
                                </td>

                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.basecotizacionimss)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.estadoempleado)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.tipoempleado)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.basepago)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.formapago)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.turno)
                                </td>

                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.zonasalario)
                                </td>


                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.numerosegurosocial)
                                </td>


                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.rfc)
                                </td>


                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.homoclave)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.curpi)
                                </td>

                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.curpf)
                                </td>


                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.sexo)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.fechanacimiento)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.puesto)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.cuentapagoelectronico)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @Html.DisplayFor(modelItem => item.bancopagoelectronico)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @if (item.calculoaguinaldo == false)
                                    {
                                        <label style="font-weight:normal !important">No Aplica</label>
                                        
                                    }
                                    else
                                    {
                                        <label style="font-weight:normal !important">Aplica</label>
                                    }
                                    @Html.DisplayFor(modelItem => item.calculoptu)
                                </td>
                                <td class="td-listaEmpleadpCliente">
                                    @if (item.calculoptu == false)
                                    {
                                        <label style="font-weight:normal !important">No Aplica</label>
                                       
                                    }
                                    else
                                    {
                                        <label style="font-weight:normal !important">Aplica</label>
                                    }
                                    @Html.DisplayFor(modelItem => item.calculoaguinaldo)
                                </td>*@

                              
                                <td class="td-listaEmpleadpCliente">
                                    <div hidden>@Html.DisplayFor(modelItem => item.sueldo_asimilado)</div>
                                </td>

                            </tr>
                        }
                    }
                </tbody>
</table>
        </div>
        <div class="col-md-12 text-center paginarListadoCliente">
            <ul class="pagination pagination-lg pager" id="myPager"></ul>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/select2.js")
    <script type="text/javascript">
        $(document).ready(function () {
            $('#TablalistaEmpleadpCliente').pageMe({ pagerSelector: '#myPager', showPrevNext: true, hidePageNumbers: false, perPage: 50 });
            // Write on keyup event of keyword input element
            $("#buscarEmpleado_search").keyup(function () {
                // When value of the input is not blank
                if ($(this).val() != "") {
                    // Show only matching TR, hide rest of them
                    $("#my-table tbody>tr").hide();
                    $(".paginarListadoCliente").hide();
                    $("#my-table td.td-listaEmpleadpClienteNombre:contains-ci('" + $(this).val() + "')").parent("tr").show();
                }
                else {
                    // When there is no input or clean again, show everything back
                    $("#my-table tbody>tr").show();
                    $(".paginarListadoCliente").show();
                }
            });
        });
        // jQuery expression for case-insensitive filter
        $.extend($.expr[":"],
        {
            "contains-ci": function (elem, i, match, array) {
                return (elem.textContent || elem.innerText || $(elem).text() || "").toLowerCase().indexOf((match[3] || "").toLowerCase()) >= 0;
            }

        });


        $.fn.pageMe = function (opts) {
            var $this = this,
                defaults = {
                    perPage: 10,
                    showPrevNext: false,
                    numbersPerPage: 10,
                    hidePageNumbers: false,
                    showFirstLast: true
                },
                settings = $.extend(defaults, opts);

            var listElement = $this;
            var perPage = settings.perPage;
            var children = listElement.children();
            var pager = $('.pager');

            if (typeof settings.childSelector != "undefined") {
                children = listElement.find(settings.childSelector);
            }

            if (typeof settings.pagerSelector != "undefined") {
                pager = $(settings.pagerSelector);
            }

            var numItems = children.length;
            var numPages = Math.ceil(numItems / perPage);

            pager.data("curr", 0);

            if (settings.showPrevNext) {
                $('<li><a href="#" class="prev_link"></a></li>').appendTo(pager);
            }

            var curr = 0;
            while (numPages > curr && (settings.hidePageNumbers == false)) {
                $('<li><a href="#" class="page_link">' + (curr + 1) + '</a></li>').appendTo(pager);
                curr++;
            }

            if (settings.showPrevNext) {
                $('<li><a href="#" class="next_link"></a></li>').appendTo(pager);
            }

            pager.find('.page_link:first').addClass('active');
            pager.find('.prev_link').hide();
            if (numPages <= 1) {
                pager.find('.next_link').hide();
            }
            pager.children().eq(1).addClass("active");

            children.hide();
            children.slice(0, perPage).show();

            pager.find('li .page_link').click(function () {
                var clickedPage = $(this).html().valueOf() - 1;
                goTo(clickedPage, perPage);
                return false;
            });
            pager.find('li .prev_link').click(function () {
                previous();
                return false;
            });
            pager.find('li .next_link').click(function () {
                next();
                return false;
            });

            function previous() {
                var goToPage = parseInt(pager.data("curr")) - 1;
                goTo(goToPage);
            }

            function next() {
                goToPage = parseInt(pager.data("curr")) + 1;
                goTo(goToPage);
            }

            function goTo(page) {
                var startAt = page * perPage,
                    endOn = startAt + perPage;

                children.css('display', 'none').slice(startAt, endOn).show();

                if (page >= 1) {
                    pager.find('.prev_link').show();
                }
                else {
                    pager.find('.prev_link').hide();
                }

                if (page < (numPages - 1)) {
                    pager.find('.next_link').show();
                }
                else {
                    pager.find('.next_link').hide();
                }

                pager.data("curr", page);
                pager.children().removeClass("active");
                pager.children().eq(page + 1).addClass("active");

            }
        };


    </script>

}